body {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header {
    background-color: #90223A;
    color: white;
    display: flex;
    padding: 10px;
}

#logo_img {
    display: block;
    margin-left: auto;
}

#ov_qa_flex_cont {
    display: flex;
    padding: 10px;
}

#overview_tab {
    background-color: yellow;
    padding: 10px;
    border-radius: 30px;
    margin: 1%;
}

#overview_flex_cont {
    display: flex;
}

.overview_item {
    outline: auto;
    padding: 10px;
    margin: 1%;
}

#q_acts_tab {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 30px;
    margin: 1%;
}

#tasks_tab {
    background-color: lightblue;
    padding: 10px;
    border-radius: 30px;
    margin: 1%;
}